@import 'tailwindcss';

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #2e2a24 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2e2a24;
  border-radius: 20px;
  transition: background-color 0.2s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #e8a045;
}